# Python
venv/
__pycache__/
*.pyc
.pytest_cache/


node_modules/

#  MongoDB Atlas
.env
.env.local

# logi
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db


.vscode/
.idea/
.claude/


cloudflared.exe
*.exe
